
<h2>Test tab switcher</h2>

{% schema %}
  {
    "name": "Tab switcher",
    "tag": "section",
    "class": "section",
    "settings": [],
        "presets": [
      {
        "name": "Tab switcher"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}